@charset "utf-8";
/* CSS Document */
@font-face {
	font-family: myfont;
	src: url(../fonts/segoeuil.ttf);
}

#logo {
	width: 300px;
	height: 80px;
	float: left;
	margin-left: 5%;
	margin-top: 1%;
}

#logo img {
	width: 200px;
	height: 80px;
}

#userhello{
	float:right;
	color:#fff;
	padding: 20px 60px 20px 0px;
}

select {
	margin: 0;
	margin-bottom: 10%;
	padding: 4%;
	width: 98%;
	background: #7f7f7f;
	background: rgba(0, 0, 0, 0.5);
	color: #FFF;
	border: 1px solid #fff;
	outline: none;
	border-radius: 2px;
	display: inline-block;
}

select {
	-webkit-appearance: none; /*Removes default chrome and safari style*/
	-moz-appearance: none; /* Removes Default Firefox style*/
	background: rgba(0, 0, 0, 0.5) url(../img/select-arrow.png) no-repeat
		90% center;
	width: 98%; /*Width of select dropdown to give space for arrow image*/
	text-indent: 0.01px; /* Removes default arrow from firefox*/
	text-overflow: ""; /*Removes default arrow from firefox*/
	/*My custom style for fonts*/
	color: #FFF;
	padding: 4%;
	border: 1px solid #fff;
	cursor: pointer;
}

select.balck {
	background-color: #000;
}

select.option3 {
	border-radius: 10px 0;
}

input[type="text"] {
	padding: 3%;
	width: 90%;
	background: #7f7f7f;
	background: rgba(0, 0, 0, 0.5);
	color: #FFF;
}

.submitbutton {
	background: #7f7f7f;
	background: rgba(0, 0, 0, 0.5);
	width: 94%;
	padding: 4%;
	margin-top: 12%;
	margin-left: 3%;
	color: #FFF;
	border: 1px solid #fff;
	border-radius: 2px;
	outline: none;
	cursor: pointer;
}

label, span {
	color: #FFF;
	font-size: 14px;
	margin-bottom: 15px;
}

#header {
	width: 100%;
}

.panel span {
	padding: 0;
	margin: 0;
}

#header a {	
	outline: none;
	cursor: pointer;
}


.panel h3 {
	color: #FFF;
}

.panel1 h3 {
	color: #FFF;
}

.button {
	display: inline-block;
	width: 95%;
	padding: 8px;
	margin-bottom: 5px;
	text-decoration: none;
	text-shadow: 0px 0px 1px rgba(0, 0, 0, .5);
	text-transform: uppercase;
	border: 1px solid #fff;
	color: #fff !important;
	-webkit-transition: all .7s ease-out;
	-moz-transition: all .7s ease-out;
	-ms-transition: all .7s ease-out;
	transition: all .7s ease-out;
}

.button:hover {
	color: #fff !important;
	border: 1px solid rgb(17, 118, 130);
	box-shadow: inset 0 0 0 30px rgb(17, 118, 130);
	text-decoration: none
}

.button:active {
	box-shadow: 0 !important;
}

#footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 55px;
	background: #7f7f7f;
	background: rgba(0, 0, 0, 0.5);
	z-index: 999;
}

#sharebuttons {
	padding: 0px 40px 30px 40px;;
}

#panel2 ul {
	height: 100%;
}

#panel2 ul li {
	list-style: none;
	padding: 10px;
	margin-bottom: 5px;
	color: #FFF;
	border-bottom: 1px solid #FFF;
	border-radius: 5px;
	font-weight: bold;
}

#panel2 ul li:hover, li:focus {
	background: #FFF;
	color: #000;
	cursor: pointer;
}

.listview {
	height: 350px;
	width: 100%;
	padding: 0;
}

.listviewz {
	height: 377px;
	width: 100%;
	padding: 0;
}

.highlight
{
	background:#FFF;
	color:#000 !important;
}




.highlight a i{
	color:#000;
	}
	
#admin
{
    background: #F8F8F8;
	  width: 240px;
	  height: 40px;
  	color: #888;
  	border: none;
	  border-radius: 3px;
	  padding: 0 0 0 10px;
  	font: bold 13px Helvetica, sans-serif;
  	text-transform: uppercase;
	  line-height: 40px;
	  cursor: default;
  	-webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  -o-user-select: none;
	  user-select: none;
  	margin-bottom: 7px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

#settings
{
	  position: absolute;
	  top: 0;
	  right: 0;
	  left:100%;
	  padding: 10px 14px 0 0;
  	border: none;
  	outline: none;
	  color: #888;

	  font-size: 12px;
}

#admin_text, #settings { cursor: pointer; }

#settings:hover { color: #555; }

#menu { display: none;
position:absolute;
z-index:999;

	  border-bottom: 1px solid #fff;
		margin-left:10.5%;
		margin-top:2%;
box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.9);
 }

#menu .filter
{
	  display: block;
	  border-left: 1px solid #fff;
	  border-right: 1px solid #fff;
	  background: #e75854;
	  width: 120px;
	  padding: 0 0 0 3px;
text-transform:capitalize;
	  text-decoration: none;
	  color: #000;
	  padding:2px 5px;
	  font-size:12px;
}
#menu label
{
	display:inline-block;
	width:80%;
color:#fff;
padding:0 0 0 5px;
margin:0;
}
#menu label:hover
{
	  background: #E33C37;
	  cursor:pointer;
}
#menu a:nth-child(2)
{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

#menu a:last-child
{
  	border-bottom-left-radius: 3px;
	  border-bottom-right-radius: 3px;
}

#menu a:hover { color: #555; }

#menu a:hover > .fa { color: #555; }

#firstIcon, #secondIcon, #thirdIcon, #fourthIcon
{
  	position: absolute;
	  margin-top: 10px;
	  right: 0;
  	font-size: 20px;
	  color: rgba(0, 0, 0, 0.4);
	  opacity: 0.7;
}

#firstIcon { margin-right: 14px; }
#secondIcon { margin-right: 11px; }
#thirdIcon { margin-right: 11px; }
#fourthIcon { margin-right: 13px; }

#arrow
{
	  width: 0;
	  height: 0;
	  border-left: 7px solid transparent;
	  border-right: 7px solid transparent;
	  border-bottom: 9px solid #e75854;
  	margin-left: 75px;
}

#panel3 ul {
	
}

#panel3 ul li {
	list-style: none;
	padding: 10px;
	margin-bottom: 5px;
	color: #FFF;
	border: 1px solid #FFF;
	border-radius: 8px;
	font-weight: bold;
		
}

#panel3 ul li:hover, li:active {
	background: #FFF;
	color: #000;
	cursor: pointer;
}

#panel4 ul {
	
}

#panel4 ul li {
	list-style: none;
	padding: 10px;
	margin-bottom: 5px;
	color: #FFF;
	border: 1px solid #FFF;
	border-radius: 8px;
	font-weight: bold;
}

#panel4 ul li:hover, li:active {
	background: #FFF;
	color: #000;
	cursor: pointer;
}

#pay td {
	color: #FFF;
	padding: 5px;
}

#pay .qty {
	width: 30px;
	padding: 7px;
	border-radius: 12px;
	background: rgba(0, 0, 0, 0) !important;
	border: 0;
}

#pay .rate {
	width: 60px;
	padding: 7px;
	border-radius: 12px;
	background: rgba(0, 0, 0, 0) !important;
	border: 0;
}

#paytotal {
	color: #FFF;
	padding: 2px;
	background: rgba(0, 0, 0, 0.7) !important;
}

#paytotal td:nth-child(2n+1) {
	color: #FFF;
	padding: 5px;
	width: 250px;
}

#paytotal .qty {
	width: 30px;
	padding: 7px;
	background: rgba(0, 0, 0, 0) !important;
	border: 0;
}

#paytotal .rate {
	width: 60px;
	padding: 7px;
	background: rgba(0, 0, 0, 0) !important;
	border: 0;
}

.plus {
	background: url(../images/plus.png) no-repeat;
	background-position: right;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.minus {
	background: url(../images/plus.png) no-repeat;
	background-position: left;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.face {
	background: url(../images/social.png) no-repeat;
	background-position: right;
	width: 60px;
	height: 60px;
	float: right;
	margin-right: 30px;
	margin-bottom: 40px;
}

.twit {
	background: url(../images/social.png) no-repeat;
	background-position: left;
	width: 60px;
	height: 60px;
	float: right;
	margin-bottom: 40px;
}

/* @media ( min-width : 120px) {
	body {
		background: url(../img/bgphone.png) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		width: 100%;
		height: 100%;
		font-family: myfont;
		padding: 0;
		margin: 0;
		vertical-align: baseline;
	}
	#one {
		background: url(../img/bgphone.png) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		width: 100%;
		height: 100%;
	}
	.container {
		width: 100%;
		height: 100%;
		overflow: scroll;
		margin: 0;
	}
	
 *  STYLE 2

	.container::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
		border-radius: 10px;
		background-color: #F5F5F5;
	}
	.container::-webkit-scrollbar {
		width: 12px;
		background-color: #F5F5F5;
	}
	.container::-webkit-scrollbar-thumb {
		border-radius: 10px;
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
		background-color: #555;
	}
	.panel {
		background: #7f7f7f;
		background: rgba(0, 0, 0, 0.5);
		width: 80%;
		padding: 2%;
		margin-top: 6em;
		margin-left: 2%;
	}
	.panel1 {
		background: #7f7f7f;
		background: rgba(0, 0, 0, 0.5);
		width: 90%;
		padding: 2%;
		height: 60%;
		margin-top: 6em;
		margin-left: 2%;
		float: left
	}
} */

	.aboutpanel {
		background: #7f7f7f;
		background: rgba(0, 0, 0, 0.5);
		width: 68%;
		padding: 2%;
		
		margin-top: 3em;
		margin-left: 2%;
		float: left;
		color:#fff;
	}

body {
	background: url(../img/bg.png) no-repeat center center fixed;;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 100%;
	font-family: myfont;
	padding: 0;
	margin: 0;
	vertical-align: baseline;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	height: 100%;
}

#one {
	background: url(../img/bg.png) no-repeat center center fixed;;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	margin: 0;
	width: 100%;
	height: 60%;
}

.container {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: auto;
}

.panel {
	background: #7f7f7f;
	background: rgba(0, 0, 0, 0.5);
	width: 17%;
	padding: 2%;
	height: 90%;
	margin-top: 3em;
	margin-left: 2%;
	float: left;
	visibility: hidden;
}

.panel1 {
	background: #7f7f7f;
	background: rgba(0, 0, 0, 0.5);
	width: 26%;
	padding: 1%;
	height: 60%;
	margin-top: 3em;
	margin-left: 2%;
	float: left;
	visibility: hidden;
}

#paytotal .butt {
	background: rgba(0, 0, 0, 0.5);
	display: inline-block;
	width: 80%;
	padding: 8px;
	margin-bottom: 5px;
	text-decoration: none;
	border: 1px solid #fff;
	color: #fff !important;
	text-align: center;
	text-shadow: 0px 0px 1px rgba(0, 0, 0, .5);
	text-transform: uppercase;
	-webkit-transition: all .7s ease-out;
	-moz-transition: all .7s ease-out;
	-ms-transition: all .7s ease-out;
	transition: all .7s ease-out;
	-webkit-transition: all .7s ease-out;
}

#paytotal .butt:hover {
	color: #fff !important;
	border: 1px solid rgb(17, 118, 130);
	box-shadow: inset 0 0 0 30px rgb(17, 118, 130);
	text-decoration: none
}
.panel,.panel1{visibility: hidden}
#address{
	width:100%;
	margin-bottom:2%;
	padding:10px;
}